@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

:root {
  --ff-big: "Big Shoulders Display", cursive;
  --ff-lexend: "Lexend Deca", sans-serif;

  --clr-Bright-orange: hsl(31, 77%, 52%);
  --clr-Dark-cyan: hsl(184, 100%, 22%);
  --clr-Very-dark-cyan: hsl(179, 100%, 13%);
  --radius: 0.8rem;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.card {
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 3rem;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.card-title {
  font-size: 2.25rem;
  font-family: var(--ff-big);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}

.card-description {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--ff-lexend);
  color: #fff;
  line-height: 1.5;
}

.btn-card {
  padding: 0.75rem 1.25rem;
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--ff-lexend);

  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

.card-sedans {
  background-color: var(--clr-Bright-orange);
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.card-sedans .btn-card {
  color: var(--clr-Bright-orange);
}

.card-suvs {
  background-color: var(--clr-Dark-cyan);
}

.card-suvs .btn-card {
  color: var(--clr-Dark-cyan);
}

.card-luxury {
  background-color: var(--clr-Very-dark-cyan);
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.card-luxury .btn-card {
  color: var(--clr-Very-dark-cyan);
}

.btn-card:hover {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .card-container {
    padding: 0;
    flex-direction: row;
  }

  .card {
    width: 21rem;
    gap: 4rem;
  }

  .card-sedans {
    border-top-right-radius: 0;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  .card-luxury {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--radius);
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
